.navbar{
    background: linear-gradient(to top right,rgb(187, 71, 4),blue);
    text-decoration-skip-ink:initial;

}
.nav.item{
    padding-right: 15%;
}
.nav.item a{
    color: white;
    text-decoration: none;
}
.nav.item :hover{
    text-decoration:hotpink;
    color: white;
}
.carousel img{
    width: 70%;
    height: 500px;
    margin-bottom: solid green;
}

.carousel{
    
    width:100%
}




.d-flex{
    margin-left: 10%;
}
.d-flex img{
    padding: 10%;
    width: 250px;
    height: 350px;
}
.p-2{
    border:dotted mediumvioletred;
    margin:10px;
}
.p-2 button
{
    margin-left: 30px;
    background-color: rgb(65, 112, 197);
    color:rgb(255, 225, 107);
    width: 200px;
    height: 30px;
}
footer{
    text-align: center;
    background:linear-gradient(to left, rgb(131, 87, 116),red);
    bottom: 0;
}
body{
    background-color: plum;
}
.pp{
    font-style: italic;
    font-family:serif;
    font-size: large;
    font-variant: inherit;
    font-weight:600;
    background-color:powderblue;
   
}
.container1{
    background:linear-gradient(purple,pink);
    margin-top: solid black;

}
.container2{
    background:radial-gradient(black,purple);
    margin-top: solid black;

}


.img1{
    padding-left: 50px;
    width: 95%;
    height: 500px;
}